<DOCTYPE html>
<html>
<head>
<title>INDEX</title>
<link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    {{>header}}

    <div>
    <h1>dummy page for showing weather info</h1>

    <form action="">
        <input placeholder="Location">
        <button>Search</button>

    </form>
    <p id='errmsg'></p>
    <p id='msg2'></p>
    </div>

    {{>footer}}
<script src="../../js/functionality.js"></script>
</body>

</html>