<DOCTYPE html>
    <html>
    <head>
    <title>ABOUT</title>
    <link rel="stylesheet" href="./css/styles.css">
    
    </head>
    <body>
        {{>header}}
        <p>This site was created as part of NodeJs tutorial</p>
        <img src="/img/pic.jpg" alt="img">
        {{>footer}}
    </body>
    
    </html>